
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhong Jin</title>
    <link href="./css/style.css" type="text/css" rel="stylesheet"/>
    <link href="./css/bootstrap.min.css" type="text/css" rel="stylesheet"/>


</head>
<body>
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Suhong Jin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./files/compsci_jin_resume.pdf">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        
<div class="row">
    <div class="col-md-12 text-center">
    <h1>My Portfolio</h1></div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Easy Money First Prototype
        <!-- <p class="top-buffer">
            Integrated the TPad, haptic feedback hardware for tablets, with Android's TalkBack accesibility feature to allow the visually impaired to navigate more easily through their touchscreen devices. First-authored a <a href="http://nxr.northwestern.edu/sites/default/files/publications/OS-Level%20Surface%20Haptics.pdf">paper</a> and demoed the software at the ACM SIGACCESS Conference on Computers and Accessibility.
        </p>
        
        <p class="top-buffer">
            Wrote a prototype for a pill medication dispenser application developed at Northwestern University. A customized bluetooth pill bottle would communicate with the phone and remind a user to take medication.
        </p> -->
    </div>
    <div class="col-md-4">
        <p>
            Interned as an Android developer intern at <a href="http://www.epic.com/">Epic Systems</a> in Summer 2013 and Summer 2015. Worked alone on an Android project both times, but also worked with an developer for the iOS side and a UX designer for design.
        </p>
        <!-- <p class="top-buffer">
            Integrated the TPad, haptic feedback hardware for tablets, with Android's TalkBack accesibility feature to allow the visually impaired to navigate more easily through their touchscreen devices. First-authored a <a href="http://nxr.northwestern.edu/sites/default/files/publications/OS-Level%20Surface%20Haptics.pdf">paper</a> and demoed the software at the ACM SIGACCESS Conference on Computers and Accessibility.
        </p>
        
        <p class="top-buffer">
            Wrote a prototype for a pill medication dispenser application developed at Northwestern University. A customized bluetooth pill bottle would communicate with the phone and remind a user to take medication.
        </p> -->
    </div>
    <div class="col-md-4">
        <p>
            Interned as an Android developer intern at <a href="http://www.epic.com/">Epic Systems</a> in Summer 2013 and Summer 2015. Worked alone on an Android project both times, but also worked with an developer for the iOS side and a UX designer for design.
        </p>
        <!-- <p class="top-buffer">
            Integrated the TPad, haptic feedback hardware for tablets, with Android's TalkBack accesibility feature to allow the visually impaired to navigate more easily through their touchscreen devices. First-authored a <a href="http://nxr.northwestern.edu/sites/default/files/publications/OS-Level%20Surface%20Haptics.pdf">paper</a> and demoed the software at the ACM SIGACCESS Conference on Computers and Accessibility.
        </p>
        
        <p class="top-buffer">
            Wrote a prototype for a pill medication dispenser application developed at Northwestern University. A customized bluetooth pill bottle would communicate with the phone and remind a user to take medication.
        </p> -->
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Game Development Experience</h3>
        <p>
            Interned as an Android developer intern at <a href="http://www.epic.com/">Epic Systems</a> in Summer 2013 and Summer 2015. Worked alone on an Android project both times, but also worked with an developer for the iOS side and a UX designer for design.
        </p>
        <p class="top-buffer">
            Integrated the TPad, haptic feedback hardware for tablets, with Android's TalkBack accesibility feature to allow the visually impaired to navigate more easily through their touchscreen devices. First-authored a <a href="http://nxr.northwestern.edu/sites/default/files/publications/OS-Level%20Surface%20Haptics.pdf">paper</a> and demoed the software at the ACM SIGACCESS Conference on Computers and Accessibility.
        </p>
        
        <p class="top-buffer">
            Wrote a prototype for a pill medication dispenser application developed at Northwestern University. A customized bluetooth pill bottle would communicate with the phone and remind a user to take medication.
        </p>
    </div>
</div>
        <hr />
        <footer>
            <p>&copy; 2016 - Suhong Jin's Website</p>
        </footer>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</html>
