
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhong Jin</title>
    <link href="./css/style.css" type="text/css" rel="stylesheet"/>
    <link href="./css/bootstrap.min.css" type="text/css" rel="stylesheet"/>


</head>
<body>
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Suhong Jin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./files/compsci_jin_resume.pdf">Resume</a></li>
                    <li><a href="https://github.com/suhongjin94/">Github</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        
<div class="row">
    <div class="col-md-12 text-center">
    <h1>My Portfolio</h1></div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.suhong.numbersgame">Countdown Android Application</a>
        </p>
        <img src="./files/final.png" class="countdown center-block img-responsive" alt="Screenshot of Countdown">
        <p>
            Based on the game show "Countdown". Arrange five numbers with the right operations to reach the target number! Published to the Google Play Store.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="/ggDemo">Easy Money First Prototype</a>
        </p>
        <img src="./files/easy_money.png" class="fit-width center-block" alt="Screenshot of Easy Money">
        <p>
            This is my current ongoing Unity project. Web player needs Firefox, Safari, or Internet Explorer, but the game can be downloaded <a href="https://drive.google.com/open?id=0B9t5d_pWEAI1ODFqeGhOSnZkb1k">here</a>. An XBOX controller is required as this is a local coop game. The game's first prototype was targeted as a co-op stealth heist game. Art and the guard AI was written by a friend while the mechanics and gameplay was written by me. Some art and animation was added into the game and a <a href="https://youtu.be/5ZLrS2Y6Q3Y">trailer</a> was made to promote our game. I learned Adobe Photoshop and Premiere to video edit the trailer. The game was written in C# on the Unity platform.
        </p>
        
        <p>
            The current state of the game has changed drastically. We've added a graphics artist to our team and have started to move to 3d models. We're also adding a new core mechanic to the game. The theme is a psychological puzzle game. We're super excited and are scheduled to have a demo out in late August!
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="/mazeDemo">Maze Runner</a>
        </p>
        <img src="./files/maze.png" class="fit-width center-block" alt="Screenshot of Maze Runner">
        <p>
            A Unity game project. Web player still needs Firefox, Safari, or Internet Explorer but the game can be downloaded on the same <a href="https://drive.google.com/open?id=0B9t5d_pWEAI1ODFqeGhOSnZkb1k">Google Drive</a>. Controls are WASD to move and QE to rotate. The game procedurally generates a maze and the goal is to find the "food" (a cube) that can be seen on the minimap, before your hunger score reaches 0. Only the room you are in is shown on the minimap. The game was written in C# on the Unity platform.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="http://devpost.com/software/emotipic">Emotipic</a>
        </p>
        <p>
            Check out the <a href="http://devpost.com/software/emotipic">devpost!</a> This is an Android application that uses <a href="https://www.microsoft.com/cognitive-services/en-us/emotion-api">Microsoft's Emotion API</a> to detect the emotion of a selfie and adds extra touches to the image. Android application was developed in Java with Android Studio while web end was written in HTML, CSS, and Javascript along with Node.js.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="https://github.com/suhongjin94/yelp-google-maps-androidapp">Local Business Search Android Application</a>
        </p>
        <img src="./files/food_demo.png" alt="Screenshot of Local Business Search App" class="center-block" style="width: 25%; height: 25%">
        <p>
            An Android application that first uses the Google Location Services to get GPS coordinates and then uses the Yelp API to search for businesses nearby. APK can be found on the <a href="https://drive.google.com/open?id=0B9t5d_pWEAI1ODFqeGhOSnZkb1k">Google Drive</a>. Also uses a SQL database to store searches to be able to view the list while offline. Written in Java on the Android Studio platform.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="https://github.com/suhongjin94/KhanAcademyBadges">Khan Academy Badge Viewing Android Application</a>
        </p>
        <img src="./files/khan_badge.png" alt="Screenshot of Khan Academy Badge App" class="center-block" style="width: 25%; height: 25%">
        <p>
            An Android application that first uses the Volley to retrieve Khan Academy Badge Information. Wrote an image cache class to handle the multitude of images. APK can be found on the <a href="https://drive.google.com/folderview?id=0B9t5d_pWEAI1MmFaUGxkOG8xWEk&amp;usp=sharing">Google Drive</a>. Written in Java on the Android Studio platform.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="/tictactoe">Tic tac toe</a>
        </p>
        <p>
            Node project that uses express and socket.IO. This requires two windows on this website to start playing. Additional people can open the site and spectate the match. Click reset and refresh for the next two people to play. Written in HTML, CSS, and JavaScript.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            <a href="https://www.khanacademy.org/computer-programming/monty-hall-problem/5495227778727936">Monty Hall Problem</a>
        </p>
        <p>
            A visualization and explanation of the Monty Hall Problem written with Khan Academy's programming platform. Allows users to manual play the game or run a simulation of the problem and record the statistics with a graph. Written in JavaScript.
        </p>
    </div>
</div>
        <hr />
        <footer>
            <p>&copy; 2016 - Suhong Jin's Website</p>
        </footer>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</html>
